
.logo{
    text-align: left;
    font-weight: 700;
    
}
.nav-item{
   text-align: left;
   text-decoration: none;
   text-decoration-color: white;
}

.social-links a{
    width: 34px;
    height: 34px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
     color: rgb(0, 0, 0);
    font-size: 20px;
    border-radius: 100%;
}
.facebook a:hover{
    background-color: white;
    color: blue;
}
.instagram a:hover{
    background-color:white;
    color: #f09433;
}
.github a:hover{
    background-color: white;
    color: brown;
}
.twitter a:hover{
    background-color:rgb(245, 246, 250) ;
    color: rgb(45, 140, 218);
}
.linkedin a:hover{
    background-color:rgb(245, 246, 250);
    color: rgb(45, 140, 218) ;
}